<footer class="structure-footer">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <div class="logo">
          <meta itemprop="logo" content="{{ site.github.url }}/images/logo-footer.svg">
          <img class="mobile" src="/images/logo-footer-mobile.svg" alt=""/>
          <img class="desktop" src="/images/logo-footer.svg" alt=""/>
        </div>
      </div>
      <div class="column is-10">
        <ul class="links">
          <li><a href="https://github.com/generic-game/generic-game/tree/master/design" target="_new">Brand resources</a></li>
          <li>Source code available at <a href="https://github.com/generic-game/generic-game" target="_new">Gihub</a></li>
          <li>Images from <a href="https://www.oldbookillustrations.com/" target="_new">OldBookIllustrations</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
