<div class="reference-mobile-menu">
  <span class="open-close-nav" data-toggle-mobile-nav>
    <span class="open-nav">
      <span class="svg-icon">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      	 viewBox="3 6 18 12" enable-background="new 3 6 18 12" xml:space="preserve">
      <path d="M3,18h18v-2H3V18z M3,13h18v-2H3V13z M3,6v2h18V6H3z"/>
      </svg>
    </span>
    </span>
    <span class="close-nav">
      <span class="svg-icon">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="5 5 14 14" enable-background="new 5 5 14 14" xml:space="preserve">
      <path d="M19,6.4L17.6,5L12,10.6L6.4,5L5,6.4l5.6,5.6L5,17.6L6.4,19l5.6-5.6l5.6,5.6l1.4-1.4L13.4,12L19,6.4z"/>
      </svg>
      </span>
    </span>
  </span>

  <div class="mobile-nav-box">
    <div class="wrapper">
      <nav class="mobile-nav">
        {% include navigation.html %}
      </nav>
    </div>
  </div>
  <div class="under-box" data-toggle-mobile-nav></div>
</div>
