<div class="navigation">
  <ul>
    {% for section in site.sections %}
      {% assign attr = section[0] %}
      {% assign label = section[1] %}
      {% for categoryPage in site.categories[attr] reversed %}
        {% if forloop.first %}
          <li class="header">
            <h3>{{ label }}</h3>
          </li>
        {% endif %}
        {% if categoryPage.title == page.title %}
          {% assign class = 'active' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}" data-order="{{ categoryPage.order }}">
          <a href="{{ site.baseurl }}{{ categoryPage.url }}">
            {% if categoryPage.title == 'Index' %}
              Introduction
            {% else %}
              {{ categoryPage.title }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
