<main itemtype="http://schema.org/SoftwareSourceCode">
  <meta itemprop="codeRepository" content="Game engine">
  <meta itemprop="programmingLanguage" content="Javascript">
  <meta itemprop="runtimePlatform" content="Node.js">
  <meta itemprop="accessMode" content="textOnVisual">
  <meta itemprop="keywords" content="generic, game, rpg, nodejs">

  <div class="container">
    {% if page.url == "/" %}
      {% include home.html %}
    {% else %}
      {% include header.html %}
      <section class="structure-section">
        <div class="container">
          {% if page.categories contains 'docs' %}
            {% include documentation.html %}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      </section>
    {% endif %}
  </div>
  {% include footer.html %}
</main>
