@import "mixins/swap-mobile"

@import "modules/forms"

body
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
ul
  margin: 0
  padding: 0

a
  font-weight: bold
  color: $color-black

.structure-header
  margin: 0
  border-bottom: 1px solid rgba($color-black, 0.1)
  overflow: hidden
  height: 96px
  @media #{$medium-up}
    margin: 32px 0 0 0
    height: auto
  > .logo
    display: block
    width: 64px
    margin: 16px 0 0 16px
    @media #{$medium-up}
      float: left
      margin: 0 0 32px 0
  > .links
    float: right
    padding: 27px 16px 0 0
    svg
      width: 20px
      height: 20px
.structure-section
  > .container
    min-height: calc(100vh - 447px)
  > .title
    text-align: center
    font-size: 32px
    color: $color-black
    font-weight: 200
    margin-bottom: 22px
    @media #{$medium-up}
      margin-bottom: 100px

.structure-footer
  padding: 50px 0 30px 40px
  background-color: $color-black
  color: $color-white
  @media #{$medium-up}
    padding: 64px 0 100px 0
  .logo
    +swap-mobile(desktop, mobile)
  .links
    padding: 16px 0 0 0
  a
    color: $color-white
